

  <div class="container question">
  <strong><%= @question %></strong>
  <p>-<i>you</i></p>

  </div>
  <br>
  <div class="container answer">
    <strong><%= @answer %></strong>
    <p>-<i>your coach</i></p>
  </div>




<div class="footer">

  <%= link_to "Ask another question", ask_path %>

</div>
