<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>
<%= @date %>
<form action="/answer">
  <input type="text" name="question">
  <input type="submit" value="Ask!" class="btn btn-primary">
<
</form>

